* {
  margin: 0;
  padding: 0;
}

.gaston {
  font-family: "Praise", cursive;
  text-align: center;
  background-color: black;
  color: antiquewhite;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  font-size: 40px;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tarjeta {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: red;
  color: white;
}
h2 {
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: serif;
  text-align: center;
}
.ubica {
  width: 100%;
  height: 400px;
}
.copy {
  background-color: #101010;
  display: flex;
  justify-content: center;
  color: white;
  text-transform: capitalize;
}
